.App {
  text-align: center;
  min-height: 500px;
  width: 600px;
  margin: 40px auto;
}
.App p {
  font-size: small;
  font-weight: bolder;
  font-style: oblique;
  color: black;
}
body {
  background-color: #bbdb9b;
  margin: 0;
  padding: 0;
}
#nun {
  height: 30px;
  width: 50px;
  border-radius: 5px;
  border: 0;
  background-color: rgb(194, 98, 69);
  cursor: pointer;
  font-weight: bolder;
  color: blanchedalmond;
  margin-top: 4.5px;
}
button {
  background-color: rgb(91, 197, 174);
  border-radius: 10px;
}

input {
  width: 250px;
  height: 30px;
  margin-top: -5%;
  font-size: 18px;
}
input::placeholder {
  color: rgb(110, 107, 103);
  text-align: center;
}
#todo button,
#btn button {
  height: 30px;
  width: 100px;
  padding: 3px;
  cursor: pointer;
  color: rgb(65, 64, 62);
  justify-items: center;
}
button {
  height: 30px;
  background-color: #b8d996;
  width: 50px;
  border-radius: 0%;
  cursor: pointer;
  font-weight: bolder;
  color: rgb(58, 57, 55);
  margin-top: 4.5px;
}
#rem {
  font-size: small;
  border: 5px;
  width: 150px;
  font-family: sans-serif;
  margin-top: 5px;
  background-color: #9cde9f;
}
#txt {
  font-size: medium;
  border: 5px;
  width: 150px;
  height: 30px;
  font-weight: bold;
  font-family: sans-serif;
  margin-left: 30px;
  margin-bottom: 5px;
  border-radius: 5px;
  position: relative;
}
#onee {
  width: fit-content;
  margin-left: 100px;
  justify-items: center;
}
#act {
  font-size: medium;
  border: 5px;
  width: 150px;
  margin-left: 135px;
  margin-bottom: 30px;
  background-color: #85be4b;
}
#tr {
  margin: 10px;
}
#onee button {
  background-color: none;
  width: 50px;
  border: darkgrey;
}
